<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="framework.Main"/>
    </classes>
  </test> <!-- Test -->
  <test name="Regression">
  	<classes>
      <class name="framework.Main2">
      	<methods>
      		<exclude name="dashboardPageTest"/>
      	</methods>
      </class>
  	</classes>
  </test>
</suite> <!-- Suite -->
